{% extends 'layouts/default.html' %}
{% block title %}Stock Market Analysis and Prediction - Contact{% endblock %}
{% block content %}


    <!-- Page Header -->
    <header class="masthead" style="background-image: url('static/img/header7.jpg')">
      <div class="overlay"></div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <div class="site-heading">
              <h1>Stocky</h1>
              <span class="subheading">A stock prediction tool to help you make the big decisions</span>
            </div>
          </div>
        </div>
      </div>
    </header>


    <!-- Content -->
    <style type="text/css">
      .center {
    margin: auto;
    margin-top: 100px;
    width: 60%;
    height: 60%;
    border: 1px solid #73AD21;
    padding: 10px;
}
    </style>
    <style>
.new-alert {
  padding: 20px;
  background-color: #f44336;
  color: white;
}

.closebtn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

.closebtn:hover {
  color: black;
}
</style>

<div class="w3-card-4">
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        {% for message in messages %}
            <div class="new-alert">
                <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
                <strong>{{ message }}</strong>
            </div>
        {% endfor %}
      {% endif %}
    {% endwith %}

  <center>
    <h2 class="form-heading">
      Contact
      <a href="{{ url_for('home') }}" title="Back to homepage"><i class="fa fa-home"></i></a>
    </h2>
  </center>

  <form method="post" class="form w3-container">
      <p style="text-align: center; color: red">{% if error %}
          <b>{{ error }}</b> {% endif %}</p>
      <div class="center">
          <b>
              <label>Name</label>
              {{ form.name(class_ = 'form-control first-input', placeholder = form.name.label.text, required = true, autofocus = true) }}
              <label>Email</label>
              {{ form.email(class_ = 'form-control last-input', placeholder = form.email.label.text, required = true) }}
              <label>Subject</label>
              {{ form.subject(class_ = 'form-control last-input', placeholder = form.subject.label.text, requires=true) }}
              <label>Message</label>
              {{ form.message(class_ = 'form-control last-input', placeholder = form.message.label.text, required = true) }}
          </b>
          <br>
          <input type="submit" value="Submit" class="btn btn-primary btn-lg btn-block" />
      </div>
  </form>
</div>




{% endblock %}
